:root {
  --gap: 30px;
  --item: 4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--primary-write-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -ms-flex-line-pack: center;
      align-content: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.card-item {
  -ms-flex-preferred-size: calc((100% - (var(--item) - 1) * var(--gap)) / var(--item));
      flex-basis: calc((100% - (var(--item) - 1) * var(--gap)) / var(--item));
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
}
.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  color: var(--title-text-color);
}
.navigate__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.navigate__link:hover, .navigate__link:focus {
  color: var(--accent-color-blue);
}
.navigate__link--current {
  color: var(--accent-color-blue);
  position: relative;
}
.navigate__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color-blue);
  border-radius: 2px;
}

.logo {
  color: var(--accent-color-blue);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}
.logo--studio-black {
  color: var(--secondary-bg-color);
}
.logo--studio-white {
  color: var(--primary-write-color);
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color-blue);
  fill: var(--accent-color-blue);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.networks__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.networks__icon--color {
  fill: var(--primary-write-color);
}
.networks__link:hover .networks__icon, .networks__link:focus .networks__icon {
  fill: var(--primary-write-color);
}
.networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-color-blue);
}
.networks__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}
.networks__link--color:hover, .networks__link--color:focus {
  background-color: var(--accent-color-blue);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  min-height: 50px;
  min-width: 200px;
  letter-spacing: 0.06em;
  color: var(--primary-write-color);
  background-color: var(--accent-color-blue);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover, .button:focus {
  background-color: var(--accent-color-blue-button);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer-form__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: color var(--secondary-bg-color);
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-write-color);
  outline: transparent;
}
.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--accent-color-blue);
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__icon {
  fill: var(--primary-write-color);
  margin-left: 10px;
}

.address__list {
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--footer-text-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color-blue);
}
.address__link--white {
  color: var(--primary-write-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address__link--white:hover, .address__link--white:focus {
  color: var(--accent-color-blue);
}

.header {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1428571429;
  border-bottom: 1px solid var(--header-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__item {
  --item: 3;
}
.portfolio__link {
  display: block;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.portfolio__link__link:hover, .portfolio__link__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__picture {
  position: relative;
  overflow: hidden;
}
.portfolio__desc {
  padding: 20px 24px;
  border: 1px solid #fff;
  border-top: none;
}
.portfolio__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  color: var(--primary-text-color);
  line-height: 1.88;
  font-size: 16px;
}

.portfolio-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.portfolio-filter__button {
  padding: 6px 22px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  color: var(--primary-write-color);
  background-color: var(--accent-color-blue);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(294px);
          transform: translateY(294px);
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.portfolio-overlay__text {
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--primary-write-color);
}
.portfolio__link:hover .portfolio-overlay, .portfolio__link:focus .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__item {
  color: var(--primary-write-color);
}
.footer__item:last-child {
  margin-left: auto;
}
.footer__text {
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-write-color);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}/*# sourceMappingURL=portfolio.css.map */