.footer-form {
    display: flex;
    gap: 12px;

  &__input {
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: color var(--secondary-bg-color);
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: var(--primary-write-color);
    outline: transparent;

    &:hover,
    &:focus {
      border-color: var(--accent-color-blue);
    }
    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__icon {
    fill: var(--primary-write-color);
    margin-left: 10px;
  }
}