.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform var(--animation);

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
  }

  &__button {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    fill: rgba(0, 0, 0, 1);
    transition: fill var(--animation), border-color var(--animation);
    cursor: pointer;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color-blue);
    fill: var(--accent-color-blue);
  }
}